html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.bath {
    background-image: url(/img/1.png);
}

.hanger {
    background-image: url(/img/2.png);
}

.radiator {
    background-image: url(/img/3.png);
}

.pen {
    background-image: url(/img/4.png);
}

.parking {
    background-image: url(/img/5.png);
}

.call {
    background-image: url(/img/6.png);
}

.safe {
    background-image: url(/img/7.png);
}

.pool {
    background-image: url(/img/8.png);
}